* {
  font-family:'Lora';
  position:relative;
}

html {
  margin-top:12em;
}

section.module {
  float:left;
  width:100%;
}

@import 'includes/quintessential';
@import 'includes/theme';
@import 'includes/buttons';
@import 'includes/animation';
@import 'includes/fonts';
@import 'includes/header';
@import 'includes/footer';
@import 'modules/landingbare';
@import 'modules/copyoffset';
@import 'modules/divider1';
@import 'modules/displaycleanleft';
@import 'modules/displaydarkcenter';
@import 'modules/displaycleanright';
@import 'modules/displaycleancenter';
