/**
 * Bounce animation
 * To use, apply .bounce class to an object.
 */

.bounce {
 -moz-animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 animation: bounce 2s infinite;
}



@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateY(0);
   transform: translateY(0);
 }
 40% {
   -moz-transform: translateY(-15px);
   transform: translateY(-15px);
 }
 60% {
   -moz-transform: translateY(-5px);
   transform: translateY(-5px);
 }
}
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }
 40% {
   -webkit-transform: translateY(-15px);
   transform: translateY(-15px);
 }
 60% {
   -webkit-transform: translateY(-5px);
   transform: translateY(-5px);
 }
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   -moz-transform: translateY(0);
   -ms-transform: translateY(0);
   -webkit-transform: translateY(0);
   transform: translateY(0);
 }
 40% {
   -moz-transform: translateY(-15px);
   -ms-transform: translateY(-15px);
   -webkit-transform: translateY(-15px);
   transform: translateY(-15px);
 }
 60% {
   -moz-transform: translateY(-5px);
   -ms-transform: translateY(-5px);
   -webkit-transform: translateY(-5px);
   transform: translateY(-5px);
 }
}
